#swipe-block
  #map-wrapper
    #map.dark
  #swipe-controller
    ul#switch.switch.clearfix
      li.clearfix.map
        a.exit(href='#') Exit Fullscreen
      li.grid.clearfix.map
        a#show-all(href='#', title='Show All Institutions')
          i.icon-th.icon-2x
      li.map#numbers
        span#current-number.num
        span.divider of
        span#last-number.num