#swipe-block.hidden
  #swipe-container
    ul
      li.one
        .relative
          .swipe-content.white.top.left.one-thirds
            h3 Being in the Institution
            p Lorem ipsum Eiusmod sint irure qui dolor occaecat sed sunt enim ullamco velit quis ad laborum cupidatat laboris occaecat ut pariatur eiusmod labore et aliqua ex sint dolore sed Excepteur elit occaecat dolore magna dolor est irure occaecat id in. Lorem ipsum Occaecat magna esse Excepteur occaecat laborum irure veniam ex enim cillum cillum mollit cupidatat magna commodo consectetur et deserunt ullamco fugiat cupidatat culpa mollit exercitation officia in exercitation dolor anim et consectetur nisi ex sunt in officia.
            p Lorem ipsum Exercitation dolore sint adipisicing id proident adipisicing ut in eiusmod exercitation mollit adipisicing laboris quis nostrud est deserunt culpa Ut Duis.
      li(style='background: url("/img/frontend/institutions/inst6.jpg") no-repeat center center')
        .relative
          .swipe-content.white.top.left.one-thirds
            h3 Entering the Institution
            p Lorem ipsum Fugiat eu aliqua aliquip qui aliqua consequat dolore cupidatat non velit ea nulla consequat officia ea commodo amet incididunt cillum in consectetur incididunt sunt nisi sit reprehenderit anim laborum nulla consequat in.
      li(style='background: url("/img/frontend/institutions/EugenicsBoard1936b_UniversityofAlbertaArchives.jpg") no-repeat center center')
        .relative
          .swipe-content.bottom.left.half.white
            h3 The People
            p Lorem ipsum Nisi tempor dolor voluptate laborum sed quis consequat sed fugiat cillum ut in non deserunt ex aliquip. Lorem ipsum Exercitation sint veniam irure anim in pariatur sint proident ullamco labore reprehenderit eu dolore consectetur nostrud nulla et minim exercitation et quis sit.three
      li(style='background: url("/img/frontend/institutions/reddeer.png") no-repeat center center')
        .relative
          .swipe-content.right.top.two-thirds.white
            h3 Leilani Muir
            img.pull-left(src='/img/frontend/institutions/leilanimuir.jpg')
            p Lorem ipsum Nisi irure quis esse aute velit aute aliqua ea officia qui consectetur ut dolor cupidatat nulla quis consequat adipisicing dolor consectetur Duis cillum veniam qui sunt.
            // iframe(width="560", height="315", src="http://www.youtube.com/embed/TWS3dr4pv0E", frameborder="0", allowfullscreen)
      li
        .relative
          .swipe-content
            p Lorem ipsum Qui dolor aute adipisicing nostrud aute nulla ullamco sed ut non quis labore tempor sed veniam fugiat ullamco nostrud nulla sit esse est dolore esse nisi consectetur sit velit cupidatat dolore.five
  a.exit(href='#') Exit Fullscreen
#swipe-controller
  ul#switch.switch
    li.active
      a#0.switch-item(href='#') 0
    li
      a#1.switch-item(href='#') 1
    li
      a#2.switch-item(href='#') 2
    li
      a#3.switch-item(href='#') 3
    li
      a#4.switch-item(href='#') 4