#overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.75);
  transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  z-index: 500;
}

#overlay.hide {
  pointer-events: none;
  opacity: 0;
}










.tip {
  position: absolute;
  padding: 5px;
  z-index: 1000;
  /* default offset for edge-cases: https://github.com/component/tip/pull/12 */
  top: 0;
  left: 0;
}

/* effects */

.tip.fade {
  transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  -webkit-transition: opacity 100ms;
}

.tip-hide {
  opacity: 0;
}






ul.prod-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}





#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.85);
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  z-index: 500;
  pointer-events: none;
  opacity: 0;
}

#overlay.show {
  opacity: 1;
}



.zoom-image-clone {
  position: fixed;
  -moz-transition: -moz-transform 0.23s linear;
  -ms-transition: -ms-transform 0.23s linear;
  -webkit-transition: -webkit-transform 0.23s linear;
  transition: transform 0.23s linear;
  z-index: 500;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: -ms-zoom-out;
  cursor: zoom-out;
}

#overlay {
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  background-color: white;
  background-color: rgba(255,255,255,0.97);
}



/* line 1 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/node_modules/component-stylus-plugin/node_modules/stylus/lib/functions/index.styl */

/* line 3 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/frontend/clientside/styles/variables.styl */

/* line 1 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#app {
  padding: 0;
  padding-top: 0;
}

/* line 5 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#accordion-wrapper {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 500px;
  background-color: #000;
}

/* line 14 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.white {
  margin: 30px;
  padding: 25px;
  background: #fff;
  background: rgba(255,255,255,0.95);
}

/* line 20 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child {
  height: 100%;
  width: 33.333333333%;
  box-sizing: border-box;
  transition: width 0.5s, opacity 0.5s;
  transition-timing-function: ease-in-out;
  float: left;
  cursor: pointer;
  background-size: cover !important;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

/* line 32 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child:first-child {
  border-right: none;
}

/* line 35 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child .accordion-content {
  display: block;
}

/* line 38 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child .accordion-content h3 {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  margin-top: 30px;
  display: block;
  text-align: center;
  border-bottom: none;
  padding: 3px 7px;
  line-height: 33px;
  background: #fff;
  background: rgba(255,255,255,0.95);
}

/* line 51 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child .accordion-active-content {
  display: none;
}

/* line 54 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child.active.rendered .accordion-active-content {
  display: block;
}

/* line 57 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child.active.rendered .accordion-active-content h3 {
  border-right: none;
  border-left: none;
}

/* line 61 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child.active .accordion-content {
  display: none;
}

/* line 64 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child p {
  margin: 0;
  padding: 0;
  font-family: ff-meta-serif-web-pro, "Georgia", Times, serif;
  font-size: 16px;
  line-height: 23px;
}

/* line 71 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child:hover {
  box-shadow: inset 40px 40px 80px rgba(0,0,0,0.3);
}

/* line 74 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child h3 {
  font: bold 40px ff-meta-web-pro, helvetica, arial, sans-serif;
  opacity: 1;
  margin: 25px 0 15px 0;
  border-bottom: 2px solid;
  display: inline-block;
  transition: opacity 0.5s;
}

/* line 82 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child.active {
  cursor: default;
  width: 70%;
}

/* line 86 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child.active:hover {
  box-shadow: none;
}

/* line 89 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child.collapsed {
  width: 15%;
  -webkit-filter: brightness(0.5);
  -moz-filter: brightness(0.5);
  -ms-filter: brightness(0.5);
  filter: brightness(0.5);
}

/* line 96 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child.collapsed h3 {
  opacity: 0;
}

/* line 99 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child.collapsed:hover {
  opacity: 1;
}

/* line 102 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child.content {
  opacity: 0;
  transition: opacity 0.3s;
}

/* line 107 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.accordion-child.content.visible {
  opacity: 1;
}

/* line 110 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
a.learn-more,
a.previous {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
  font-family: ff-meta-web-pro, helvetica, arial, sans-serif;
  color: #fff;
  transition: background 0.4s;
  background: #049cdb;
  padding: 5px 10px;
  border-radius: 3px;
}

/* line 122 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
a.learn-more:hover,
a.previous:hover {
  text-decoration: none;
  background: #24252b;
}

/* line 126 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
a.controls {
  display: inline-block;
  font-family: ff-meta-web-pro, helvetica, arial, sans-serif;
  color: #fff;
  background: #3c4e5a;
  opacity: 1;
  transition: opacity 0.5s;
  padding: 7px 14px;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 8px 5px;
}

/* line 140 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.institutions {
  background: url("/img/frontend/institutions/inst7.jpg") no-repeat center center;
}

/* line 143 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.residential {
  background: url("/img/frontend/institutions/residential-map.jpg") no-repeat center center;
}

/* line 146 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.insitution-map {
  background: url("/img/frontend/institutions/map.jpg") no-repeat center center;
}

/* line 149 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.insitution-map h3 {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* line 155 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-block {
  position: fixed;
  top: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1200;
  opacity: 1;
}

/* line 166 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-content {
  display: block;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* line 173 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-content.hidden {
  display: none;
}

/* line 176 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-content h3 {
  font-size: 30px;
  line-height: 35px;
  padding-bottom: 3px;
  font-weight: bold;
  margin: 0;
  opacity: 1;
  display: inline-block;
  transition: opacity 0.5s;
}

/* line 186 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
a.exit {
  color: #fff;
  padding: 5px 10px;
  z-index: 1500;
  font-size: 17px;
}

/* line 193 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-container {
  width: 100%;
  height: 500px;
  margin-top: 67px;
  overflow: hidden;
}

/* line 199 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-container ul {
  margin: 0;
  padding: 0;
  height: 380px;
  box-sizing: border-box;
}

/* line 205 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-container ul li {
  display: table-cell;
  background: #f8f8f8;
  color: #888;
  width: 100%;
  height: 500px;
  list-style: none;
  margin: 0;
  -webkit-user-select: none;
  box-sizing: border-box;
  background-size: cover !important;
  overflow: auto;
}

/* line 218 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-container ul li.no-padding {
  padding: 0;
}

/* line 221 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-container ul li p {
  font-size: 14px;
  font-family: ff-meta-serif-web-pro, "Georgia", Times, serif;
  line-height: 23px;
}

/* line 226 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-container ul li h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  opacity: 1;
  display: inline-block;
  transition: opacity 0.5s;
}

/* line 234 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-container ul li img.pull-left {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

/* line 239 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-container ul li h4 {
  font-size: 20px;
  color: #049cdb;
  font-weight: bold;
  margin: 5px 0;
  background: rgba(238,238,238,0.9);
  padding: 2px 7px;
  display: inline-block;
}

/* line 248 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-container ul li a.learn-more {
  float: right;
}

/* line 251 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-container ul li a.previous {
  float: left;
}

/* line 254 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-container ul li.one {
  background: url("/img/frontend/institutions/inst10.jpg") no-repeat center center;
}

/* line 257 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-container ul li.two {
  background: url("/img/frontend/institutions/EugenicsBoard1936b_UniversityofAlbertaArchives.jpg") no-repeat center center;
}

/* line 260 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-container button {
  margin: 5px 0;
  border: 1px solid #ddd;
  padding: 5px 10px;
  background: #eee;
  border-radius: 2px;
  cursor: pointer;
}

/* line 268 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-container button:hover {
  background: #fff;
}

/* line 271 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.grid a {
  display: block;
}

/* line 274 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.grid a i {
  color: #707070;
}

/* line 277 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.grid a.active i {
  color: #fff;
}

/* line 280 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.grid a i:hover {
  text-decoration: none;
  color: #ddd;
}

/* line 284 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#overlay {
  background: #000;
  background: rgba(0,0,0,0.85);
}

/* line 288 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#app.full {
  position: fixed;
  margin-top: 0px;
  min-height: none;
  top: 0;
  height: 100%;
  overflow: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1200;
}

/* line 300 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#modalbackdrop.open.black {
  background: #000;
  background: rgba(0,0,0,0.9);
}

/* line 304 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#swipe-controller {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -137.5px;
  right: 0;
  display: block;
  width: 280px;
  z-index: 1250;
  text-align: center;
}

/* line 315 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
a.previous.hidden,
a.learn-more.hidden {
  opacity: 0;
  pointer-events: none;
}

/* line 319 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.swipe-content {
  padding: 25px;
  position: absolute;
}

/* line 323 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.swipe-content h3 {
  border-bottom: 2px solid;
  margin-top: 35px;
}

/* line 327 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.swipe-content.white {
  background: #fff;
  background: rgba(255,255,255,0.95);
}

/* line 331 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.swipe-content.one-thirds {
  width: 30%;
}

/* line 334 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.swipe-content.two-thirds {
  width: 60%;
}

/* line 337 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.swipe-content.half {
  width: 45%;
}

/* line 340 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.swipe-content.right {
  right: 0;
}

/* line 343 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.swipe-content.top {
  top: 0;
}

/* line 346 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.swipe-content.left {
  left: 0;
}

/* line 349 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.swipe-content.bottom {
  bottom: 0;
}

/* line 355 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#map {
  width: 100%;
  height: 100%;
}

/* line 359 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#map-wrapper {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

/* line 364 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
ul.switch {
  box-sizing: border-box;
  margin: 0;
  width: 280px;
  margin: 0 auto;
  background: #888;
  background: #2b2b2b;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  overflow: hidden;
}

/* line 375 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
ul.switch li.circle {
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
}

/* line 384 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
ul.switch li.circle a {
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  transition: all 150ms ease-in;
  text-decoration: none;
  overflow: hidden;
  background: #3e7186;
  color: rgba(255,255,255,0.5);
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* line 399 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
ul.switch li.circle a:hover {
  text-decoration: none;
}

/* line 402 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
ul.switch li.circle.active a {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #3bb2d0;
}

/* line 409 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
p.small {
  font-size: 13px;
  line-height: 18px;
}

/* line 413 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#map-wrapper .swipe-content {
  display: none;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  width: 40%;
}

/* line 421 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#map-wrapper .swipe-content.active {
  display: block;
}

/* line 424 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.leaflet-label {
  background: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  border-style: solid;
  color: #333;
  display: block;
  font-size: 10px;
  font-weight: bold;
  padding: 1px 6px;
  text-transform: uppercase;
  border: 2px solid rgba(0,0,0,0.5);
  margin-top: -7px;
  margin-left: 5px;
  position: absolute;
  user-select: none;
  white-space: nowrap;
  z-index: 6;
}

/* line 443 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.leaflet-label:before {
  display: none;
}

/* line 446 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
img.full {
  position: absolute;
  bottom: 10%;
  right: 110%;
  display: none;
}

/* line 452 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
img.full.active {
  display: block;
}

/* line 455 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
img.thumbnail {
  opacity: 1;
  transition: opacity 0.3s;
}

/* line 459 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
img.thumbnail:hover {
  opacity: 0.3;
}

/* line 462 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
p.subhead {
  margin: 3px 0;
  font-family: ff-meta-web-pro, helvetica, arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #aaa;
}

/* line 469 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.relative {
  position: relative;
  height: 100%;
  width: 100%;
}

/* line 474 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
ul#switch li.map {
  float: left;
  padding: 10px;
}

/* line 478 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#numbers {
  color: #999;
  font-size: 17px;
}

/* line 482 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#numbers span.divider {
  padding: 7px;
}

/* line 485 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
#numbers span.active {
  color: #fff;
}

/* line 489 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
.zoom-image-clone {
  z-index: 1250;
}

/* line 492 : /Users/bmcmahen/Development/KnowEugenics/know-eugenics/lib/institutions/clientside/styles/institutions.styl */
img.zoom {
  display: inline-block;
  margin-top: 5px;
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: -ms-zoom-in;
  cursor: zoom-in;
}