
// THESE SHOULD BE DELETED... but it might break things.
$blue = #41295A
$green = #85803D
$brown = #CCCBBB
$brownLighter = #E6E5D7
$blackLighter = #444444
$brown = #3d4544
$accentColor = #394f50
$accentColorLight = rgb(110, 114, 113)
$brandFont = ff-meta-web-pro-condensed, helvetica, arial, sans-serif
$headingFont = $sansFont
$paragraphFont = $serifFont
$baseFontSize = 12px
$borderRadius = 2px
toolbarGradient()
  background linear-gradient(top, #F9F9F9, #EDECF0)


// CURRENT VARIABLES. Delete upper variables and start over.
// Colors
$blue = #3c4e5a
$darkBlue = #3c4e5a
$purple = #049cdb
$brightBlue = #049cdb
//$brightBlue = #049cdb
$brown = #6e7271
$white = #fff
$offWhite = #f8f8f8
$lightBlack = #444
$lightGray = #eee
$stone = #95a5a6

$headerColor = rgb(70, 73, 82)

// new background? rgb(82, 82, 82)

// Fonts
$sansFont = ff-meta-web-pro, helvetica, arial, sans-serif
$sansFontSmall = arial, sans-serif
$serifFont = ff-meta-serif-web-pro, "Georgia", Times, serif
$sansFontCondensed = ff-meta-web-pro-condensed, helvetica, arial, sans-serif
