extends ../../prods/layout

block append styles
  link(href='/styles/exploring.css', rel='stylesheet')

block append components
  script(src='/javascripts/exploring.js')
  script require('exploring-archives')();

block subnav-exploring
  .prod.active
    img(src='/img/frontend/archive.png', role='presentation')
    span.label Explore Archives


block content
  #app.exploring.transparent.
    <div class='popup'></div>
    <svg width="670px" height="500px" viewBox="0 0 771 559" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <title>Slice 1</title>
    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
    <defs></defs>
    <g id="Page 1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M14,148 L176,148 L176,132 L241.511719,132 L241.511719,11.4160156 L533.921875,11.4160156 L533.921875,132 L596,132 L596,148 L761,148 L761,168 L762,168 L762,195 L761,195 L761,270 L762,270 L762,297 L761,297 L761,372 L762,372 L762,399 L761,399 L761,474 L762,474 L762,501 L761,501 L761,520 L739,520 L739,527 L711,527 L711,520 L671,520 L641,520 L641,523 L640,523 L601,523 L601,526 L573,526 L573,523 L572,523 L572,520 L493,520 L493,531 L493,546 L473,546 L473,537 L432,537 L432,520 L339,520 L339,537 L298,537 L298,546 L278,546 L278,537 L278,531 L278,520 L199,520 L199,521 L199,525 L199,528 L171,528 L171,525 L131,525 L131,521 L131,520 L99,520 L99,523 L59,523 L59,526 L31,526 L31,523 L31,520 L14,520 L14,501 L9,501 L9,474 L14,474 L14,399 L9,399 L9,372 L14,372 L14,297 L9,297 L9,270 L14,270 L14,195 L10,195 L10,168 L14,168 Z M253,24 L253,131 L522,131 L522,24 Z M253,24" id="Rectangle 1" stroke="#049CDB" stroke-width="2" fill="#D6E0FF"></path>
        <path d="M484,215 L586,215 L586,284 L484,284 L484,275 L473,275 L473,281 L415,281 L415,295 L583,295 L583,454 L596,454 L596,354 L643,354 L643,343 L639,343 L639,348 L595,348 L595,322 L639,322 L639,325 L643,325 L643,317 L596,317 L596,197 L579,197 L579,205 L485,205 L485,200 L473,200 L473,225 L484,225 Z M355,281 L190,281 L190,143 L473,143 L473,145 L485,145 L485,141 L579,141 L579,171 L596,171 L596,167 L748,167 L748,317 L700,317 L700,325 L705,325 L705,321 L749,321 L749,347 L705,347 L705,343 L700,343 L700,354 L749,354 L749,505 L596,505 L596,494 L583,494 L583,501 L193,501 L193,449 L179,449 L179,505 L23,505 L23,397 L23,329.795975 C23,329.795976 62.0006519,289 62.0006499,289 L84,289 L84,278 L27,278 L27,168 L174,168 L174,278 L118,278 L118,289 L139.99935,289 C139.999352,289 179,329.795974 179,329.795975 L179,347 L193,347 L193,295 L355,295 Z M355,281" id="Rectangle 37" stroke="#049CDB" stroke-width="2" stroke-linejoin="round" fill="#FFFFFF"></path>
        <g id="sliding door" transform="translate(65.000000, 282.000000)" stroke="#4B94E1" stroke-width="3" stroke-linecap="square">
            <path d="M368.5,6.5 L349.395027,6.5" id="Line"></path>
            <path d="M19.5,1.5 L0.395026833,1.5" id="Line"></path>
            <path d="M291.5,6.5 L272.395027,6.5" id="Line"></path>
            <path d="M71.5,1.5 L52.3950268,1.5" id="Line"></path>
        </g>
        <g id="room separator" transform="translate(181.000000, 348.000000)" stroke="#979797" stroke-width="3" stroke-linecap="square">
            <path d="M1.5,0.5 L1.5,99.5050507" id="Line" opacity="0.0867897727"></path>
            <path d="M8.5,0.5 L8.5,99.5050507" id="Line" opacity="0.0875"></path>
        </g>
        <g id="room separator copy" transform="translate(584.000000, 455.000000)" stroke="#979797" stroke-width="3" stroke-linecap="square">
            <path d="M1.5,1.5 L1.5,37.5" id="Line" opacity="0.0867897727"></path>
            <path d="M8.5,0.5 L8.5,36.5" id="Line" opacity="0.0875"></path>
        </g>
        <g id="room separator copy 2" transform="translate(386.000000, 289.000000) rotate(-270.000000) translate(-386.000000, -289.000000) translate(381.000000, 260.000000)" stroke="#979797" stroke-width="3" stroke-linecap="square">
            <path d="M1.5,1.5 L1.5,57.5" id="Line" opacity="0.0867897727"></path>
            <path d="M8.5,0.5 L8.5,57.5" id="Line" opacity="0.0875"></path>
        </g>
        <g id="room separator copy 3" transform="translate(101.000000, 284.000000) rotate(-270.000000) translate(-101.000000, -284.000000) translate(96.000000, 268.000000)" stroke="#979797" stroke-width="3" stroke-linecap="square">
            <path d="M1.5,0.5 L1.5,31.5" id="Line" opacity="0.0867897727"></path>
            <path d="M8.5,0.5 L8.5,31.5" id="Line" opacity="0.0875"></path>
        </g>
        <g id="room separator copy 4" transform="translate(587.000000, 183.500000) rotate(-180.000000) translate(-587.000000, -183.500000) translate(582.000000, 172.000000)" stroke="#979797" stroke-width="3" stroke-linecap="square">
            <path d="M1.5,0.5 L1.5,22.5" id="Line" opacity="0.0867897727"></path>
            <path d="M8.5,0.5 L8.5,22.5" id="Line" opacity="0.0875"></path>
        </g>
        <g id="room separator copy 5" transform="translate(479.000000, 171.500000) rotate(-180.000000) translate(-479.000000, -171.500000) translate(474.000000, 145.000000)" stroke="#979797" stroke-width="3" stroke-linecap="square">
            <path d="M1.5,2.13043478 L1.5,51.8695652" id="Line" opacity="0.0867897727"></path>
            <path d="M8.5,2.10856827 L8.5,51.4011974" id="Line" opacity="0.0875"></path>
        </g>
        <g id="room separator copy 5" transform="translate(478.500000, 249.500000) rotate(-180.000000) translate(-478.500000, -249.500000) translate(474.000000, 226.000000)" stroke="#979797" stroke-width="3" stroke-linecap="square">
            <path d="M1.5,1 L1.5,45" id="Line" opacity="0.0867897727"></path>
            <path d="M7.5,1.48062304 L7.5,45.3460652" id="Line" opacity="0.0875"></path>
        </g>
        <g id="Stairs" transform="translate(193.000000, 143.000000)" stroke="#979797" opacity="0.130823864">
            <path d="M124,0.5 L124,52.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M116,0.5 L116,52.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M109,0.5 L109,52.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M101,0.5 L101,52.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M94,2.5 L94,54.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M108,83.5 L108,135.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M86,0.5 L86,52.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M78,0.5 L78,52.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M71,0.5 L71,52.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M64,0.5 L64,52.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M57,0.5 L57,52.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M137,84.5 L137,136.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M130,84.5 L130,136.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M123,84.5 L123,136.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M115,84.5 L115,136.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M100,84.5 L100,136.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M92,84.5 L92,136.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M85,84.5 L85,136.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M78,84.5 L78,136.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M71,85.5 L71,137.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M64,85.5 L64,137.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M57,85.5 L57,137.5" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M55,54 L55,84 L139,84 L139,54 L55,54 Z M55,54" id="Rectangle 54" stroke-width="3" fill="#B3D2F0"></path>
            <path d="M54.5,55 L0.5,55" id="Line" stroke-width="2" stroke-linecap="square"></path>
            <path d="M54.5,83 L0.5,83" id="Line" stroke-width="2" stroke-linecap="square"></path>
        </g>
        <g class='archive-label' id="Discover Archives" transform="translate(202.000000, 304.000000)">
            <path d="M0,0 L0,97.3015866 L0,189 L372,189 L372,0 L0,0 Z M0,0" id="Rectangle 55" stroke="#929292" stroke-width="2" stroke-dasharray="5" fill="#EAEAEA"></path>
            <text id="What is an Archive?" fill="#3D3D3D" font-family="Arial" font-size="18" font-weight="normal" sketch:alignment="middle" letter-spacing="1.63912777e-08" x="104.463379" y="103.520508">
                <tspan>What is an Archive?</tspan>
            </text>
        </g>
        <g class='archive-label' id="Western Canadian Archives" transform="translate(30.000000, 296.000000)">
            <path d="M105.255859,0.220703125 C105.25586,0.220703125 36.0195304,0.220703125 36.0195312,0.220703125 C36.0195321,0.220703125 1,36.5683594 1,36.5683569 C1,36.5683544 1,200 1,200 L142,200 L142,38.9003885 C142,38.9003863 105.255859,0.220703125 105.255859,0.220703125 Z M105.255859,0.220703125" id="Rectangle 55" stroke="#929292" stroke-width="2" stroke-dasharray="5" fill="#EAEAEA"></path>
            <text id="Research " fill="#3D3D3D" font-family="Arial" font-size="15" font-weight="normal" sketch:alignment="middle" letter-spacing="1.63912777e-08">
                <tspan x="39.9016113" y="103.26709">Research </tspan>
                <tspan x="48.2365722" y="120.26709">Guides</tspan>
            </text>
        </g>
        <g class='archive-label' id="Western Canadian Archives copy" transform="translate(605.000000, 176.000000)">
            <path d="M0,5.68434189e-14 L0,131 L135,131 L135,5.68434189e-14 L0,5.68434189e-14 Z M0,5.68434189e-14" id="Rectangle 55" stroke="#929292" stroke-width="2" stroke-dasharray="5" fill="#EAEAEA"></path>
            <text id="Online Resources" fill="#3D3D3D" font-family="Arial" font-size="15" font-weight="normal" sketch:alignment="middle" letter-spacing="1.63912777e-08">
                <tspan x="46.3203125" y="65.2670898">Online </tspan>
                <tspan x="32.1516113" y="82.2670898">Resources</tspan>
            </text>
        </g>
        <g class='archive-label' id="Western Canadian Archives copy" transform="translate(603.000000, 362.000000)">
            <path d="M0,0 L0,134 L140,134 L140,0 L0,0 Z M0,0" id="Rectangle 55" stroke="#929292" stroke-width="2" stroke-dasharray="5" fill="#EAEAEA"></path>
            <text id="Archival Documents" fill="#3D3D3D" font-family="Arial" font-size="15" font-weight="normal" sketch:alignment="middle" letter-spacing="1.63912777e-08">
                <tspan x="43.3251952" y="67.2670898">Archival </tspan>
                <tspan x="32.067871" y="84.2670898">Documents</tspan>
            </text>
        </g>
        <g class='archive-label' id="Western Canadian Archives copy" transform="translate(258.000000, 29.000000)">
            <path d="M0,2.84217094e-14 L0,98 L259,98 L259,2.84217094e-14 L0,2.84217094e-14 Z M0,2.84217094e-14" id="Rectangle 55" stroke="#929292" stroke-width="2" stroke-dasharray="5" fill="#EAEAEA"></path>
            <text id="Western Canadian Arc" fill="#3D3D3D" font-family="Arial" font-size="15" font-weight="normal" sketch:alignment="middle" letter-spacing="1.63912777e-08">
                <tspan x="62.5187987" y="48.2670898">Western Canadian </tspan>
                <tspan x="95.741455" y="65.2670898">Archives</tspan>
            </text>
        </g>
        <g class='archive-label' id="Concepts" transform="translate(36.000000, 177.000000)">
            <path d="M0,0 L0,94 L129,94 L129,0 L0,0 Z M0,0" id="Rectangle 55" stroke="#929292" stroke-width="2" stroke-dasharray="5" fill="#EAEAEA"></path>
            <text id="Protocols" fill="#3D3D3D" font-family="Arial" font-size="15" font-weight="normal" sketch:alignment="middle" letter-spacing="1.63912777e-08" x="33.2365722" y="53.2670898">
                <tspan>Protocols</tspan>
            </text>
        </g>
    </g>
    </svg>

  ul.horizontal-list
    li
      a(href='#') What is an Archive?
    li
      a(href='#') Western Canadian Archives
    li
      a(href='#') Protocols
    li
      a(href='#') Research Guides
    li
      a(href='#') Online Resources
    li
      a(href='#') Archival Documents
  #modalbackdrop
