extends ../../prods/layout

block append styles
  link(href='/javascripts/heroes.css', rel='stylesheet')

block append components
  script(src='/javascripts/heroes.js')
  script require('heroes-and-villains')();

block subnav-heroes
  a(href='/discover/heroes').active
    .prod
      .zoom-image(style='background-image: url("/img/frontend/hero.png")')
      span.label Heroes & Villains


block content
  #app.heroes.transparent
    .content
      #flipcard-wrapper

  #modalbackdrop
