 <div class="btn-group" data-toggle="buttons-radio">
         <fieldset title='Sort persons'>
      <button class="btn browser-sort" data-sort-field='name'> Name </button>
      <button class="btn browser-sort" data-sort-field='dates' title='Sort people by date'> Dates </button>
          </fieldset>
    </div>

        <span class='button-label' id='filterBy' role='presentation'>Sort By: </span>

    <div class="btn-group" data-toggle="buttons-radio">
      <fieldset title='Filter persons'>
      <select class='browser-filter'>
        <option value='all'> All Categories </option>
        <option value='Male'> Males </option>
        <option value='Female'> Females </option>
        <option value='Politician'> Politicians </option>
        <option value='Scientist'> Scientists </option>
        <option value='Doctor'> Doctors </option>
        <option value='Feminist'> Feminists </option>
        <option value='Citizen'> Citizens </option>
        <option value='Lawyer'> Lawyers </option>
        <option value='Minister'> Ministers </option>
        <option value='Academic'> Academics </option>
        <option value='Businessman'> Businessmen </option>

      </select>
      </fieldset>
    </div>
        <span class='button-label' id='filterBy' role='presentation'>Filter: </span>

