extends ../../prods/layout

block append styles
    link(href='/prod_styles/timeline/timeline.css', rel='stylesheet')
    link(href='/prod_styles/timeline/highslide.css', rel='stylesheet')

block append components
    script(src="/javascripts/timeline.js")
    script require('timeline')();

block subnav-timeline
  .prod.active
    img(src='/img/frontend/timeline.png', role='presentation')
    span.label Timeline

block content
  #app.transparent
    #loading-wrapper
      i.icon-spinner.icon-3x.icon-spin
    #mytimelinewrapper.hidden(role='navigation')
      a.leftarrow(href='javascript:void(0)', title='Move Backwards in Time', onClick='moveTimeline(-0.2);')
      a.rightarrow(href='javascript:void(0)', title='Move Forward in Time', onClick='moveTimeline(0.2);')

      #mytimeline

      #slider(role='slider')
        #slider-range

  #hv-modal.modal-dialog(tabindex='-1', aria-hidden='true')
    .modal-dialog-wrapper
      a.modal-close(data-modal-close='true')
        i.icon-remove-circle
      #modal-content