extends ../../prods/layout

block append styles
    link(href='/prod_styles/timeline/timeline.css', rel='stylesheet')
    link(href='/prod_styles/timeline/highslide.css', rel='stylesheet')

block append components
    script(src="/javascripts/timeline.js")
    script require('timeline')();

block subnav-timeline
  .prod.active
    img(src='/img/frontend/timeline.png', role='presentation')
    span.label Timeline

block content
  #app.transparent
    .prod-heading
      a#fullscreenmode(href='#')
        i.icon-fullscreen.icon-large
      ul.timeline-controls
        li
          fieldset(title='for the timeline-date-range', aria-live='polite')
            label(for='startDate')
            input#startDate.short(type='text', name='startDate')
            label(for='endDate')
            input#endDate.short(type='text, name='endDate')
            button#setStartDate.btn(onclick='setTime();') Set Visible Dates
    #loading-wrapper
      i.icon-spinner.icon-3x.icon-spin
    #mytimelinewrapper.hidden(role='navigation')
      a.leftarrow(href='javascript:void(0)', title='Move Backwards in Time', onClick='moveTimeline(-0.2);')
      a.rightarrow(href='javascript:void(0)', title='Move Forward in Time', onClick='moveTimeline(0.2);')

      #mytimeline

      #slider(role='slider')
        #slider-range

  #modalbackdrop

  block templates
    script(type='text/template', id='timeline-text').
      <a href="javascript:void(0)" title="Click to display additional information in Pop-up." name="{{name}}">
          <span class="name"><strong>
            {{#if startDate}}
              {{startDate}}
            {{else}}
              {{dateFormat date}}
            {{/if}}
          </strong> : {{{title}}}</span>
      </a>


    script(type='text/template', id='modal-template').
      <div id="{{_id}}" class="modal animated hide">
          {{#if image}} <img width='200px' src='{{image.url}}/convert?w=200&h=400'> {{/if}}
          <strong> {{{title}}} </strong>
          <p title="Press Escape to Return to Timeline.">
          {{{fullDescription}}}
          </p>
          {{#if resources}}
            {{#each resources}}
              <p>{{{this.resource}}}</p>
            {{/each}}
          {{/if}}
          <a href='#' class='close'>Close</a>
      </div>

    script(type='text/template', id='timeline-image').
      <a id="{{_id}}" href="javascript:void(0)" title="Click to display additional information in Pop-up." class="highslide">
          <img class='timeline-image' src="{{image.url}}/convert?w=150&h=150&fit=crop&align=faces" alt="{{title}}" style='height: 150px; width: 150px;'>
          <span class='caption'>
            {{#if startDate}}
              {{dateFormat startDate format='YYYY'}}
            {{else}}
              {{dateFormat date format='YYYY'}}
            {{/if}} : {{{title}}}
          </span>
      </a>

    script(type='text/template', id='timeline-video').
      <div class="vidwrapper" m4v="<%= m4v %>">
             <img src="<%= imageThumb %>" alt="Click to Play Video" style='height: <%= thumbHeight %>px; width: <%= thumbWidth %>px;'>
             <span class='caption'> <%= name %> </span>
             <div class="vidplay"></div>
       </div>