block content
  #swipe-block.hidden
    #swipe-container
      ul
        li
          div.relative
            .swipe-content.white.top.left.two-thirds
              h3 Leaving the Institution
              p The closure of many of the institutions across Alberta meant that the individuals who have been housed there for years now had to be moved into community settings. The persons who lived in mental institutions were often moved to group homes both in urban and rural areas. Integration of these persons, most of whom had mental and developmental handicaps, required focused efforts to make their adaptation to community living as smooth as possible. These efforts included “normalization” of life in the home, connecting to the community through various programs, developing social networks and relationships, and strategies to improve the overall quality of life of formerly institutionalized individuals in their new settings. Unfortunately, this was not usually the case, and many individuals found it too difficult to function under these new circumstances.
        li
          div.relative
            .swipe-content.white.top.left.two-thirds
              h3 Life After the Institution
              p Tedda Kaminski lived at the Michener Centre from age 15 to 35 before being discharged and moving to Lethbridge, Alberta.
              p [When I was leaving Michener] it was very … very exciting and happiness for me … [One Saturday], I went to work for a family, cleaning house for a lady named Mrs. Johanson … I finished my housework, and then Mrs. Johanson, she gave me a ride back to the Michener Centre … I went back and I couldn’t figure out why, why, you know, my suitcases are out and they’re going through my clothes. What, why are you doing this? And I went in my room and all my clothes were out, you know? And here they were packing them. … I went to the charge room and I asked, “How come my clothes are out and my things are being checked off?” And they said … “You’re going to be living in Lethbridge.”
              p "I am?"
              p And they said, "Yes ... you're leaving on Wednesday."
              a.continue(href='#') Continue...
        li
          div.relative
            .swipe-content.bottom.left.half.white
              p [I didn’t connect much with my family.] In a way [disappointing], but that’s okay. Because I’ve got a nice home. Maybe I’ll see [my twin brother] once in awhile, at Christmastime.
              p I clean offices on every Saturday and I volunteer at the Humane Society … cleaning kennels, and I volunteer at the St. Michael’s on Fridays. St. Mike’s is a seniors’ home … Since I been out in the community, I’ve really enjoyed it.
              a.continue(href='#') Continue...
        li
          div.relative
            .swipe-content.right.top.two-thirds.white
              p I can remember when I first come to Carol’s house [where I live] on Saturday after she came back from work, we’d go downtown shopping and I was a little bit leery about looking at things in stores. I wasn’t quite sure about it, but this one time we went and she was looking at something and I decided, “you know, I’m going to start looking around, too” and I spot this yellow dress. And I asked her, “Can I buy this dress?” And it was the first thing I ever bought myself was a yellow, I guess, eyelet dress, and I felt pretty proud because we weren’t able to go and choose anything we wanted if we went shopping [while living in Michener]. They did it for us, you know? They would look at this and say, “Maybe you should buy this.” You know, we weren’t able to say … “I don’t really prefer that,” you know? So I bought this yellow dress.
    a.exit(href='#') Exit Fullscreen
  #swipe-controller
    ul#switch.switch
      li.active
        a#0.switch-item(href='#') 0
      li
        a#1.switch-item(href='#') 1
      li
        a#2.switch-item(href='#') 2
      li
        a#3.switch-item(href='#') 3