extends ../../prods/layout

block append styles
  link(href='/javascripts/institutions.css', rel='stylesheet')
  link(href='/styles/animate-custom.css', rel='stylesheet')
  link(href='http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.css', rel='stylesheet')

block append components
  script(src='http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.js')
  script(src='/javascripts/institutions.js')
  script require('institutions')();

block subnav-institutions
  a.active(href='/discover/institutions')
    .prod
      .zoom-image(style='background-image: url("/img/frontend/institutions.png")')
      span.label Institutions

block content
  #app
    ul#accordion-wrapper
      li.accordion-child.institutions
        .accordion-content
          h3 Being in the Institution
        .accordion-active-content
          .white
            h3 Being in the Institution
            p Being in an institution was a complex process, with many repercussions.  Learn about life as a resident of an institution here.  You can also learn about people involved with institutional life like doctors, nurses, and community members.
            a#being-in.learn-more(href='#') Learn More <i class='icon-arrow-right'></i>
      li.accordion-child.insitution-map
        .accordion-content
          h3 Canadian Institutions
        .accordion-active-content
          .white
            h3 Western Canadian Institutions
            p Institutions were an integral part of eugenics in Western Canada.  They were a well-used way of separating different people in society based on economics, background, gender, disability and “race.”  There were many institutions and residential schools that served this purpose in Western Canada.
            a#institutions.learn-more(href='#') Learn More <i class='icon-arrow-right'></i>
      li.accordion-child.residential
        .accordion-content
          h3 Residential Schools
        .accordion-active-content
          .white
            h3 Residential Schools
            p Equally important and complicated is the process of leaving institutions and trying to live outside of them.  This was often such a mix of freedom and difficulty adjusting to a new life, that many mixed reactions happened after leaving.
            a#residential-schools.learn-more(href='#') Learn More <i class='icon-arrow-right'></i>
      #swipe-content
