//- Universal to the entire site.

doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Eugenics in Western Canada

    block styles
      link(href='/javascripts/application.css', rel='stylesheet')
      link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', rel='stylesheet')

    block scripts
      script(type="text/javascript", src="//use.typekit.net/meo7zwz.js")
      script(type='text/javascript') try{Typekit.load();}catch(e){}

  body

    block subheader

    script(type="text/javascript", src='/javascripts/application.js')
    script require('application');

    section#main(role='main')
        block content
        block templates



  block components
