span.document-name=title
button.btn.btn-small.btn-warning.remove Remove
select.strength
	option(value='1', selected=(strength === 1)) 1
	option(value='2', selected=(strength === 2)) 2
	option(value='3', selected=(strength === 3)) 3
	option(value='4', selected=(strength === 4)) 4
	option(value='5', selected=(strength === 5)) 5
	option(value='6', selected=(strength === 6)) 6
	option(value='7', selected=(strength === 7)) 7
	option(value='8', selected=(strength === 8)) 8
	option(value='9', selected=(strength === 9)) 9
	option(value='10', selected=(strength === 10)) 10