extends layout

block content
	.row-fluid
		.span12
			h1= title
			p.blurb Welcome to the Living Archives on Eugenics Database
	.row-fluid
		.span12.center
			img(src='/img/database/eugenics_congress_logo.png')
	.row-fluid
		.span12.center.margin-top
			a.btn.btn-primary(href='/auth/login/google') Login With Your Google Account