extends layout


block content
  #app
    .introductory-content
      div
        h3 Discovery Tools <br>
        p Lorem ipsum Commodo Ut ullamco id ex est consectetur id nulla sunt in ut aliqua esse sunt et sint in aliquip non ullamco occaecat dolore.
        p Use the tools above to learn more about Eugenics in Western Canada.