extends ../frontend/layout


block nav-discover
  a.active(href='/timeline', aria-selected='true', aria-owns='sub-header')
    span Discovery Tools

block subheader
  #navbar-swipe-container.navbar-swipe-container
    ul#js-swipe.swipe-list
      li.swipe-item
        a(href='/discover/whatis')
          block subnav-whatis
            .prod
              .zoom-image(style='background-image: url("/img/frontend/whatis.png")')
              span.label What is Eugenics?
      li.swipe-item
        block subnav-heroes
          a(href='/discover/heroes')
            .prod
              .zoom-image(style='background-image: url("/img/frontend/hero.png")')
              span.label Heroes & Villains
      li.swipe-item
        a(href='/discover/timeline')
          block subnav-timeline
            .prod
              .zoom-image(style='background-image: url("/img/frontend/timeline.png")')
              span.label Timeline
      li.swipe-item
        block subnav-mindmap
          a(href='/discover/mindmap')
            .prod
              .zoom-image(style='background-image: url("/img/frontend/mindmap.png")')
              span.label Mind Map
      li.swipe-item
        block subnav-institutions
          a(href='/discover/institutions')
            .prod
              .zoom-image(style='background-image: url("/img/frontend/institutions.png")')
              span.label Institutions
      li.swipe-item
        a(href='/discover/ourstories')
          block subnav-ourstories
            .prod
              .zoom-image(style='background: #ddd')
              span.label Our Stories
      li.swipe-item
        a(href='/discover/exploring')
          block subnav-exploring
            .prod
              .zoom-image(style='background-image: url("/img/frontend/archive.png")')
              span.label Explore Archives
      li.swipe-item
        a(href='/discover/game')
          block subnav-game
            .prod
              .zoom-image(style='background: #ddd')
              span.label Game
    a.prev-button(href='#')
      i.icon-chevron-left
    a.next-button(href='#')
      i.icon-chevron-right